<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>如何绘画路线图</title>
        <!-- <link rel="shortcut icon" type="favicon.ico" href="/static/images/favicon.ico"> -->
        <link rel="stylesheet" href="/static/css/index.css" />
        <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>

    <body>
        <!-- 可以自定义设置宽高，以及背景图 -->
        <div id="main" style="width: 80%;height:80vh;"></div>
        <script src="/static/js/resources/echarts.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/resources/axios.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/index2.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>